Package: backstage
Version: 2.2
License: GPL-3.0
Vendor: Caldas Lopes <joao.caldas.lopes@gmail.com>
Architecture: amd64
Maintainer: Caldas Lopes <joao.caldas.lopes@gmail.com>
Depends: openjdk-11-jre | oracle-java11-installer, vlc
Section: Contrib
Priority: extra
Homepage: https://github.com/linux-man/backstage#readme
Description: 
  Multimedia show manager
